body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #8ecae6;
    color: #fb8500;
}

#title {
    background-color: #fb8500;
}

html {
    height: 100%;
}

.main-container {
    flex: 1;
}

.box1 {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.box1 div {
    margin-right: 30px;
}

.box2 div {
    margin-bottom: 10px;
}

h1 {
    color: white;
    -webkit-text-stroke: 1px black;
    margin-left: 10px;
    font-size: 48px;
    font-weight: bold;
}

p {
    color: #fb8500;
    margin-left: 10px;
}

.header-container {
    color: #fb8500;
    display: grid;
}

a {
    background-color: white;
    color: #fb8500;
    text-align: center;
    border-radius: 7px;
    border: 1px solid black;  
    padding: 3px 5px;
    position: relative;
    transition: transform 0.3s;
    box-sizing: border-box; 
    margin-left: 10px;
    transition: all 0.2s ease;
}

a:hover {
    transform: translate(-2px);
    box-shadow: 0 6px 8px rgba(0,0,0,0.3);
}

footer {
    background-color: #023047;
}

button {
    background-color: white;
    color: #fb8500;
    padding: 5px 5px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    transition: all 0.2s ease;
}

button:hover {
    background-color: white;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0,0,0,0.3);
}

#JsonIntroIMG {
    width: 400px;
    height: 500px;
    margin: 40px;
}